<?php
/**
 * Redirect view file
 *
 * @category    View
 * @package     BC_Ccavenue
 * @author      Shahal Tharique <shahalpk@gmail.com>
 */
?>
<?php
//$encrypted_data = encrypt($merchant_data, $cc_metadata["encryption_key"]);
$encrypted_data = Mage::registry("encrypted_data");
$access_code = Mage::registry("access_code");
$production_url = 'https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction&encRequest='.$encrypted_data.'&access_code=' . $access_code;


?>



<iframe src="<?php echo $production_url?>" id="paymentFrame" style="height:500px;width:100%;" frameborder="0" scrolling="No" ></iframe>
<script type="text/javascript">
    var $jq = jQuery.noConflict();
    $jq(document).ready(function(){
        window.addEventListener('message', function(e) {
            $jq("#paymentFrame").css("height",e.data['newHeight']+'px');
        }, false);
    });
</script>